<!DOCTYPE html>
<html lang="en" dir="ltr">

  {{ partial "head" .}}

  <body>
    {{ partial "nav" . }}
    <main class="text-center">
      <h1>{{ .Title }}</h1>

      <ul class="courses_categories">
        {{ range .Sections }}
        <li>
          <h3>
            <a class="important-links" href="{{ .RelPermalink }}">{{ .Title }}</a>
          </h3>
          {{ with .Sections }}
          <h4>
            {{ range $i, $e := . }}
              {{ if $i }}· {{ end }}
				      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            {{ end }}
          </h4>
          {{ end }}
        </li>
        {{ end }}
      </ul>

      {{ with .Pages }}
      <div class="courses">
        {{ range $i, $e := . }}
        {{ if $i }}<hr>{{ end }}
        <div>
          {{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006") | $.Scratch.Set "subtitle" }}
          {{ with .Description }} {{ $.Scratch.Set "subtitle" . }} {{ end }}
          <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
          <h5>{{ $.Scratch.Get "subtitle" }}</h5>
          {{ range .Params.tags }}
            <a href="tags/{{ . | urlize }}"><kbd class="item-tag">{{ . }}</kbd></a>
          {{ end }}
        </div>

        {{ end }}
      </div>
      {{ end }}
    </main>

  </body>
</html>
