<!DOCTYPE html>
<html lang="en" dir="ltr">

  {{ partial "head" .}}

  <body>
    {{ partial "nav" . }}

    <main class="post">
        <article>
          <header>
              <h1>{{ .Title }}</h1>
              <p class="post_date">{{ .Date.Format "2 Jan 2006" }} · {{ .ReadingTime }} min read</p>
              <p class="post_tags">
                {{ range $i, $e := .Params.tags }}
                  {{ if $i }}· {{ end }}<a href="/tags/{{ . | urlize }}">{{ . }}</a>
                {{ end }}
              </p>
              <section class="post_toc">
                <input id="toc-toggle" type="checkbox">
                <label for="toc-toggle" id="toggle">
                  <p class="toc-title">Jump to section... <span class="dropdown-icon">⚓</span></p>
                </label>
                {{ .TableOfContents }}
              </section>
          </header>
          <hr>
          {{ .Content }}
          <hr>
        </article>
    </main>
    
    {{ partial "comments" . }}

  <script>
    (function() {
      var toc = document.getElementById('TableOfContents');
      if (!toc) return;
      do {
        var li, ul = toc.querySelector('ul');
        if (ul.childElementCount !== 1) break;
        li = ul.firstElementChild;
        if (li.tagName !== 'LI') break;
        // remove <ul><li></li></ul> where only <ul> only contains one <li>
        ul.outerHTML = li.innerHTML;
      } while (toc.childElementCount >= 1);
    })();
  </script>
  </body>
</html>
