<!DOCTYPE html>
<html lang="en" dir="ltr">

  {{ partial "head" .}}

  <body>
    {{ partial "nav" . }}
    <main class="text-center">
      <h1>{{ .Title }}</h1>

      {{ range (.Site.RegularPages.GroupByDate "2006") }}
        {{ if ne (.Key) "0001" }}
          <h3>{{ .Key }}</h3>
          {{ range (where .Pages "Type" "courses") }}
              {{/* .Date.Format "02/01/2006" */}}
              <a href="{{ .Permalink }}">{{ .Title }}</a>
          {{ end }}
        {{ end }}
      {{ end }}

    </main>

  </body>
</html>
